<% include partials/_header %>
	
		<% for(x in urls){ %>
	    <p><%= x %> ~> <a href='<%=urls[x]%>'><%= urls[x] %></a> <a href='urls/<%=x%>'> Edit </a> </p>

	    <form method="POST" action=<%="/urls/" + x + "/delete"%>>
	    	<button type='submit'>Delete</button>
	    </form>
	    <% } %>
	    <a href='urls/new'> shorten new url </a>
	</body>
</html>