<% include partials/_header %>

  <% if(!user){%>
  <h2 class='title'>Oh Dear :(</h2>
    <b>You must be logged in to see your shortened urls </b>
    <%}else if(!Object.keys(urls).length){%>
    <h2 class='title'>You don't have any urls. why not make one below!</h2>
    <a class='btn' href='urls/new'> shorten new url </a>
    <%}else{%>
     <h2 class='title'><%=user.email%>'s Urls</h2>
    <% for(x in urls){ %>
      <span class='url-item'><b class='left'><%=x%> ~> </b><a class='left' href='<%= 'https://' + urls[x].replace('https://','')%>'><%= urls[x] %></a> </span><a class='btn left' href='urls/<%=x%>'> Edit </a>
      <form class='left' method="POST" action=<%="/urls/" + x + "/delete?method=DELETE"%>>
        <button class='btn'>Delete</button>
      </form></span>
      <div class='clearfix'></div>
      <%}%>
      <a class='btn' href='urls/new'> shorten new url </a>
      <%}%>
 <%include partials/_footer%>